Allfiles/20487C/Mod05/DemoFiles/AddingServiceReference/End/ServiceClient/Service References/HotelBooking/HotelBooking.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/HotelBooking" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HotelBooking" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Reservation">
    <xs:sequence>
      <xs:element minOccurs="0" name="CheckinDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="GuestName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HotelName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumberOfDays" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Reservation" nillable="true" type="tns:Reservation" />
  <xs:complexType name="BookingResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="BookingReference" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsApproved" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BookingResponse" nillable="true" type="tns:BookingResponse" />
</xs:schema>