Allfiles/20487C/Mod05/DemoFiles/AddingServiceReference/End/ServiceClient/Service References/HotelBooking/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/HotelBooking" />
  <xs:element name="BookHotel">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/HotelBooking" minOccurs="0" name="reservation" nillable="true" type="q1:Reservation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BookHotelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/HotelBooking" minOccurs="0" name="BookHotelResult" nillable="true" type="q2:BookingResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>